<div class="jumbotron">
  <h1>Stubbify</h1>
  <p>Shorten your URLs!</p>
</div>

<div class="container">
  <div class="well well-sm">
    <div class="input-group">
      <span class="input-group-addon">Long URL:</span>
      <input type="text" class="form-control" placeholder="www.example.com">
    <button type="button" class="btn btn-primary">Shorten!</button>
    </div>
  </div> <!--well-->
  <div class="well well-sm">
    <div class="input-group">
      <span class="input-group-addon">Short URL:</span>
      <input type="text" class="form-contro">
    </div>
  </div> <!--well-->
</div>
